.App{
  min-height: 100ch;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  display: block;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.serch-bar{
  width:50;
  height: 30px;
  border: none;
  padding:10px;
}

.search-btn{
  background: lightcoral;
  border:none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px;
}

